*{
    padding: 0;
    margin: 0;
    /* border:2px solid red; */
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}
/* body{
    background-color: black;
} */
.header1{
    background-color: rgb(14, 14, 37);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
  font-size: 1.15rem;
  padding: .5rem 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
  /* line-height: 30px; */
}
.header1-section1{
    margin-left: 100px;
}
.span-items1{
    padding-top: 100px;
 padding-left: 15px;
 padding-right: 15px;
    border-right: 1px solid grey;
}
.span-items1 i{
    color:  rgb(255, 94, 0);
    padding-right: 5px;
    
}
.nav-bar{
    /* margin-top: 10px; */
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.nav-section1{
    width: 22%;
}
.nav-section1-texts{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    /* margin-left: 100px; */
}
.nav-section1-texts::before{
    content: '';
    display: block;
    width: 80px;
    height: 80px;
    color:  rgb(255, 94, 0);
    background: url(images/b5.png);
    background-size: contain;
}
/* .header1-secton2{
    margin-right: 100px;
} */
.nav-section1-texts2{
    line-height: 25px;
}
.nav-section1-text1{
    font-size: 35px;
    color: rgb(14, 14, 37);
/* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
 font-weight: bold;
}
.nav-section1-text2{
    color: grey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav-section2{
    width: 40%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav-section2-texts{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.nav-section2-text1{
  list-style-type: none;
  padding-left: 30px;
  font-size: 1.2rem;
  color: rgb(14, 14, 37);
}
.nav-section2-text1 a{
    text-decoration: none;
    color: #302e2e;
}
.random2-numbers{
    color: #6a0dad;
    font-size: 34px;
}
.nav-section2-text1 a.active::after{
    content:'';
    display:block;
    height:3px;
    /* width:100%; */
    transform:scale(1);
    background-color: #6a0dad;
    position:relative;
    top:3px;
    transition:0.7s;
    transform-origin:left;
}
.nav-section2-text1 a::after{
    content:'';
    display:block;
    height:3px;
    /* width:100%; */
    transform:scale(0);
    background-color: #6a0dad;
    position:relative;
    top:3px;
    transition:0.7s;
    transform-origin:left;
   
}
.nav-section2-text1 a:hover::after{
    transform:scale(1);
}
.nav-section3{
    width: 20%;
    display: flex;
    align-items: center;
}
.nav-section3-item2{
 
    padding: .8rem 1.5rem;
    border-radius: 25px;
    color: white;
    padding-right: 2rem;
  
    font-size: .9rem;
}
.nav-section3-button, .hero-section-text4-span1, .hero-section-text4-span2{
    display: flex;
    align-items: center;
    height: 49px;
    background-color: #6a0dad;
    border-top-left-radius: 30px;
border-bottom-left-radius: 30px;
border-top-right-radius: 30px;
border-bottom-right-radius: 30px;

}
/* .nav-section3-button:hover{
} */
.nav-section3-button-text{
border-right: 1px solid #9536da;

/* background-color: rgb(255, 94, 0); */
/* margin-right: 20px; */
border-top-left-radius: 30px;
border-bottom-left-radius: 30px;
padding: 15px 13px;
font-size: 12px;
padding-left: 16px;
color: white;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: 600;
transition: .8s;
}
.nav-span:hover{
    text-decoration: none;
}

.nav-section3-button-icon, .hero-section-span2{
    /* height: 50px; */
    font-size:19px ;
    font-weight: bold;
    /* background-color: rgb(255, 94, 0); */
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 10.2px 9px;
    padding-top: 10px;
    padding-right: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    transition: .8s;
}
.nav-span{
    text-decoration: underline;
}
/* .nav-section3-item2:before{
    content: "\e649";
    font-size: 0.8rem;
    position: absolute;
    right: 96px;
    color: black;
    transform: translate(-50%);
    top: 14%;
} */
/* .nav-section3-item2:after{
    content:'';
    width: 1px;
    height: 41px;
   top: 12%;
    right: 116px;
    background-color: pink;
    position: absolute;
} */
.hero-section{
    background: linear-gradient(rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.3)), url(https://momentary-assets.s3.amazonaws.com/uploads/2025/01/RODE-1.jpg) ;
    /* filter: brightness(78%); */
    background-size: cover;
    width: 100%;
    height: 100vh;
    object-fit: contain;
    background-repeat: no-repeat;
    /* display: flex;
    flex-direction: row;
    justify-content: space-around; */
}
.hero-section-text-area{
    width: 45%;
    color: white;
   margin-left: 100px;

}
.hero-section-text1{
    font-size: 4rem;
    padding-top: 25vh;
    font-weight: lighter;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.hero-section-text2{
    font-size: 4.5rem;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.hero-section-text3{
    margin-top: 20px;
   margin-bottom: 60px;
   font-size: 1.3rem;
   letter-spacing: 2px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.hero-section-text4{
    display: flex;
}
.hero-section-text4-span1{
    margin-right: 10px;

}
.hero-section-text4-span1:hover .hero-section-text4-span-item1{
    background-color: white;
    color: #302e2e;
}
.hero-section-text4-span2:hover .hero-section-span1{
    background-color: #6a0dad;
    color: white;
}
.hero-section-text4-span2{
    background-color: #fff;
    color: #302e2e;
    /* color: #ff5e14; */
    border-right: 1px solid #F3EDED;
}
.hero-section-span1{
   background-color: #fff;
    color: #302e2e;
    border-right: 1px solid #F3EDED;
    transition: .8s;
}


.section2-random{
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    margin-right: 100px;
    margin-bottom: 100px;
    /* flex-wrap: wrap; */
}
.section2-random-item{
    width: 23%;
    margin-right: 20px;
    margin-left: 20px;
    border: 1px solid rgb(228, 225, 225);
    padding: 17px;
    box-shadow: 1px 2px  2px rgb(169, 169, 177);
}
.section2-random-item-image1{
    width: 70px;
    height: 70px;
}
.section2-random-item-header{
    font-size: 20px;
    padding: 10px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.section2-random-item-text{
    font-size: 16px;
    line-height: 22px;
    color: #687187;
    letter-spacing: 1px;
    padding-top: 10px;
}
#about-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 140px;
    margin-bottom: 30px;
}
.about-section-image{
    width: 37%;
    margin-left: 9%;
    /* height: 300px; */
}
.about-section-image1{
    width: 100%;
    height: 530px;
}
.about-section-texts{
    width: 42%;
  margin-right: 9%;
}
.about-section-text1{
    font-size: 2.5rem;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.about-section-text4{
    color: #6a0dad;
    padding-bottom: 10px;
    font-size: 1.1rem;
    letter-spacing: 1px;
}
.about-section-text2{
    font-size: 2.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 6px 0;
}
.about-section-span{
    width: 100px;
    height: 4px;
    border-radius: 20px;
    background-color: #6a0dad;
    margin: 15px 0;
    margin-bottom: 38px;
}
.about-section-text3{
    font-size: 1.15rem;
    color: #687187;
    line-height: 35px;
}
.about-section-text5{
    margin-top: 30px;
    color: #687187;
    font-size: 1.15rem;
    line-height: 35px;
    padding-left: 20px;
    list-style-type: georgian;
}
.about-section-text6{
    background-color: #ff5e1408;
    margin-top: 20px;
    color: #687187;
    padding: 7px 8px;
}
.about-section-text6-item1{
    
    font-size: 1.05rem;
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: 1px;
}
.services-section{
    background-color:#f7f9fa;
    margin-top: 80px;
    margin-bottom: 100px;
}
.services-section-textarea{
    text-align: center;
    padding-top: 40px;
}
.services-section-text1{
    font-size: 1.3rem;
    color: #6a0dad;
}
.services-section-text2{
    font-size: 2.6rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 8px 0;

}
.services-section-text3{
    font-size: 2.4rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
}
.services-section-span{
    text-align: center;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 50px;
}
.services-section-divcards, .recent-news-section2-divcards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:84% ;
    margin-left: 8%;
    margin-right: 8%;
    justify-content: space-between;
}
.services-section-divcard1, .recent-news-section2-divcard1{
    width: 31.5%;
    /* margin-left: 15px; */
    margin-bottom: 40px;
}
.services-section-divcards-image1{
    width: 100%;
    height: 300px;
    /* object-fit: contain; */
}
.services-section-divcards-texts{
    margin-top: 20px;
}
.services-section-divcards-text1{
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.services-section-divcards-text2{
    color: #687187;
    font-size: 1.1rem;
}
.contact-section-texts{
    text-align: left;
}
#contact-section{
    display: flex;
    flex-direction: row;
    margin-left: 9%;
    margin-right: 9%;
    justify-content: space-between;
    margin-bottom: 50px;
}
.contact-section1{
    width: 47%;
    padding-top: 50px;
}
.contact-section-image{
    width: 100%;
    height: 88%;
}
.contact-section2{
    width: 50%;
    padding-top: 30px;
}
#contact-section-fname, #contact-section-email, #contact-section-phone, #To-contact{
    padding: .8rem 4.7rem;
    padding-left: 5px;
    font-size: .95rem;
    margin-right: 5px;
    margin-bottom: 15px;
    border: 2px solid #eaf2f5;
    border-radius: 4px;
    outline-color: #6a0dad;
    
}
#contact-section-phone, #To-contact{
    padding-right: 0;
    width: 280px;

}
.contact-section textarea{
    border: 2px solid #eaf2f5;
    margin-top: 5px;
    font-size: 1.1rem;
    padding-top: 15px;
    outline-color: #6a0dad;
    padding-left: 10px;
}
.contact-page-sec1{
    margin-top: 100px;
}
.random2-section{
   background:linear-gradient(rgba(0, 0, 0, 0.9),
   rgba(0, 0, 0, 0.4)), url(images/cta-s2-bg.jpg) no-repeat center center/ cover;
   width: 100%;
   height: 100vh;
   /* background-size: cover;
   background-repeat: no-repeat; */
   margin-bottom: 100px;
   display: flex;
  text-align: center;
   padding-top: 34vh;
   flex-direction: column;
   color: white;
   background-attachment: fixed;
   /* filter: brightness(78%); */
}
.random2-section-span{
    height: 40px;
}
.random2-section-texts{
    width: 60%;
    margin-left: 20%;
}
.random2-section-text1{
    font-size: 30px;
    letter-spacing: 3px;
}
.random2-section-text2{
    font-size: 59px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 50px;
    font-weight: bold;
}
.projects{
    margin-bottom: 100px;
}
.project-section1:hover .project-section-image-texts-overlay{
    opacity: 1;
}
.project-section1{
position: relative;
  width: 100%;
}
.image1{
    display: block;
    width: 100%;
    height: 400px;
}
.project-section-image-texts-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1.8s ease;
    background-color: #203374;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .project-section-image-text1{
    margin-top: 300px;
    font-size: 1.5rem;
    color: white;
    margin-left: 10px;
  }
  .project-section-image-text1:hover{
    color: #6a0dad;
  }
  .project-section-image-text2{
    margin-left: 10px;
    color: #6a0dad;
  }
  .project-section-container{
    display: flex;
    flex-direction: row;
  }
  .experience-section{
    display: flex;
    flex-direction: row;
    width: 83%;
    margin-left: 9%;
    justify-content: space-between;
    margin-bottom: 100px;
  }
  .experience-section1{
    width: 47%;
    margin-top: 0;
  }
  .experience-section2{
    width: 47%;
  }
  .experience-section1-accordion1{
    margin-top: 18px;
  }
  .experience-section1-accordion-question{
    border-bottom: 3px #6a0dad solid;
  }
  .experience-section2-image1{
    width: 100%;
    height: 550px;
  }
  .experience-accordion-icon{
    padding-left: 410px;
  }
  .experience-section1-accordion-question{
    font-size: 1.3rem;
    margin-bottom: 0;
    padding-bottom: 0;
    transition: experience-section1-accordion-answer 10s ease-in-out;
  }
  .experience-section1-accordion-answer{
    margin-top: 10px;
    font-size: 1.1rem;
    color: #6a0dad;
    display: block;
   
  }
   .show{
    display: none;
    background-color: orange;

  }
  .experience-section-textarea{
margin-left: 0;
    text-align: left;
    padding-left: 0;
    margin-top: 0;
   padding-top: 5px;
  }
  .experience-section1-text1{
    font-size: 1.1rem;
    color: #687187;
    line-height: 30px;
    margin-top: 0;
  }

  .members-section{
    margin-bottom: 100px;
  }
  .members-section-divcards{
    margin-left: 9%;
    width: 82%;
    margin-right: 9%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
.members-section-divcard1-image1{
    width: 90%;
    height: 300px;
    /* object-fit: contain; */
}
.members-section-divcard1{
    width: 50%;
    margin-bottom: 20px;
}
.members-section-divcard1-text{
    text-align: center;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 10px;
}
/* .recent-news-section{
   

} */
.recent-news-section1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 align-items: top;
 margin-left: 9%;
 width: 82%;
}
.recent-news-section1-texts{
    width: 32%;
    font-size: 1.1rem;
    color: #687187;
    padding-top: 40px;
}
.recent-news-section-textarea{
    width: 40%;
   
}
.recent-news-section-button{
    width: 26%;
    text-align: right;
    padding-top: 55px;
}
.recent-news-section2-image1{
    width: 100%;
    height: 290px;
}

.recent-news-section2-text1{
    margin-top: 20px;
    font-size: 1.1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    margin-bottom: 20px;
    color: black;
}
.recent-news-section2-text2, .recent-news-section2-text4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #687187;
    font-weight: 900;
    margin-bottom: 18px;
}
.recent-news-section2-text3{
    color: #687187;
  font-size: 18px;
  margin-bottom: 15px;
}

.recent-news-section2-text4{
    text-decoration: underline;
}

.footer-section{
    background-color: #020d26;
    color: white;
    width: 100%;
    height:100%;
    padding-left: 9%;
    padding-right: 9%;
    /* padding-bottom: 200px; */
}
.footer-section1-item2-links, .footer-section1-item2-link1{
    width: 50%;
    text-decoration: none;
}
.footer-section1-item2-link1 li{
    list-style-type: none;
}

.footer-section1-item2-links{
    display: flex;
    flex-direction: row;
   justify-content: space-between;
   width: 100%;
}
.footer-section1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 75px;
}
.footer-section1-item1, .footer-section1-item2, .footer-section1-item3, .footer-section1-item4{
    width: 22%;
}

.footer-section1-item1-header{
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}
.about-section-item1-texts{
    color: #c2c4c8;
    line-height: 25px;
    font-size: .9rem;
    padding-top: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.footer-section1-item2-link1, .footer-section1-item3-texts, .footer-section1-item4-texts{
    line-height: 36px;
    margin-top: 0;
    padding-top: 0;
    font-size: .95rem;
    color: #c2c4c8;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.footer-section1-item3-texts, .footer-section1-item4-texts{
    color: #c2c4c8;
}
#footer-email{
    color: #687187;
    background-color: #292e3b;
    border: 1px solid #292e3b ;
    padding: 1rem 3rem;
    padding-left: 10px;
    margin-top: 15px;
    font-size: .95rem;
    border-radius: 3px;
    outline: none;
}
.footer-section2{
    padding-top: 75px;
    padding-bottom: 30px;
}
.footer-section2-line{
    /* border: #687187 1px solid; */
    background: rgba(255, 255, 255, 0.05);
    width: calc(100% - 20px);
    height: 1px;
    margin-bottom: 30px;
}
.footer-section2-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-section2-item2{
    display: flex;
    flex-direction: row;

}
.footer-section2 p{
    padding-right: 4px;
    padding-left: 4px;
    color: #c2c4c8;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.footer-section2-item1{
    font-size: .9rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #c2c4c8;
}
.footer-section-span{
    margin-bottom: 23px;
}