.back-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #6a0dad;
    font-weight: bold;
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #e0b3ff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  .password-cont{
    width: 60%;
    margin-top: 50px;
  }
  .back-button a {
    text-decoration: none;
    font-size: 20px;
    color: #6a0dad;
   
  }
  .container {
    background: #fff0ff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 600px;
    text-align: center;
  }
  h2 {
    margin-bottom: 20px;
    color: #6a0dad;
    margin-top: 20px;
  }
  label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    margin-top: 15px;
  }
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #d4aaff;
    border-radius: 5px;
    background-color: #f8e8ff;
    /* margin-right: 5%; */
  }
  .save-btn {
    width: 100%;
    padding: 10px;
    background: #6a0dad;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 18px;
    margin-bottom: 11px;
  }
  .save-btn:hover {
    background: #540b91;
  }
  