/* *{
    padding: 0;
    margin: 0;
   
} */
.stories-content{
    width: 82%;
    margin-top: 30px;
    background-color: rgb(247, 247, 248);
    height: 100vh;
    padding-right: 10%;
    padding-left: 10%;
}
.stories-navbar{
    display: flex;
    justify-content: space-between;
    height: 12vh;
    background-color: rgb(255, 255, 255);
    align-items: center;
}
.header{
    font-size: 22px;
    margin-left: 50px;
}

.stories-search{
  border: none;
  outline: none;
  width: 335px;
 height:45px;
background-color: rgb(240, 235, 235);
border: 1px solid rgb(240, 235, 235);
color: rgb(85, 85, 85);
font-size: 14px;
margin-right: 50px;
padding-left: 15px;
}
.stories-divcards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.story-divcard{
    width: 21%;
    margin-top: 20px;
}
.stories-main-img{
    width: 100%;
    object-fit: cover;
    height: 230px;
    border-radius: 8px;
    opacity: 0.9;
}
.stories-profile-image{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    bottom: 80px;
    left:75px;
}